@charset "UTF-8";
.top-text-area {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.top-h1 {
  font-size: 50px;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
}

.top-p {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.top-background-color {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: relative;
}

.top-text {
  opacity: 0;
  transform: translateY(20px);
  color: #979C9A;
}

.top-title {
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-title span {
  opacity: 0;
  color: #E5BD54;
}

#particles-js {
  position: fixed; /*描画固定*/
  z-index: 3; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #020E34; /*背景色*/
}

#wrapper-star {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 4; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}

#particles-js-2 {
  position: fixed; /*描画固定*/
  z-index: 3; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #020E34; /*背景色*/
}

#wrapper-star-2 {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 4; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
  padding-top: 30%;
}

#particles-js-3 {
  position: fixed; /*描画固定*/
  z-index: 3; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #020E34; /*背景色*/
}

#wrapper-star-3 {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 4; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
  padding-top: 20%;
}

#particles-js-4 {
  position: fixed; /*描画固定*/
  z-index: 3; /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #020E34; /*背景色*/
}

#wrapper-star-4 {
  position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 4; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
  padding-top: 20%;
}

.demo_item {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-image: url(./media/images/train.png);
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}

.demo_item2 {
  width: 370px;
  height: 90px;
  border-radius: 10px;
  background-image: url(./media/images/12162.png);
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  text-align: center;
}

.demo_item.anime {
  -webkit-animation-name: upDown;
          animation-name: upDown;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: steps(2);
          animation-timing-function: steps(2);
  transition-duration: 0.3s;
  transition-property: transform;
}

.demo_stage {
  position: relative;
  width: 100%;
  height: 85px;
  top: 0px;
  display: block;
  border-bottom: solid #fff 10px;
}

.demo_wrap {
  display: block;
  position: absolute;
  top: 20px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  margin-right: -25px;
}

.demo_wrap[data-order=left] {
  -webkit-animation-name: GoLeft;
          animation-name: GoLeft;
}

.demo_wrap[data-order=right] {
  -webkit-animation-name: GoRight;
          animation-name: GoRight;
}

[data-order=right] > .demo_item {
  transform: rotateY(180deg);
}

@-webkit-keyframes GoLeft {
  0% {
    right: 10%;
  }
  100% {
    right: 90%;
  }
}

@keyframes GoLeft {
  0% {
    right: 10%;
  }
  100% {
    right: 90%;
  }
}
@-webkit-keyframes GoRight {
  0% {
    right: 90%;
  }
  100% {
    right: 10%;
  }
}
@keyframes GoRight {
  0% {
    right: 90%;
  }
  100% {
    right: 10%;
  }
}
@-webkit-keyframes upDown {
  0% {
    top: 0;
  }
  100% {
    top: 3px;
  }
}
@keyframes upDown {
  0% {
    top: 0;
  }
  100% {
    top: 3px;
  }
}
.steam {
  position: absolute;
  z-index: 2;
  top: 340px;
  left: 110px;
  -webkit-animation: steam_Move 18s infinite linear;
  animation: steam_Move 18s infinite linear;
  transition: all 1s;
}

.move {
  z-index: 3;
  position: absolute;
  top: 340px;
  left: 100px;
  -webkit-animation: steam_Move 18s infinite linear;
  animation: steam_Move 18s infinite linear;
  transition: all 1s;
}

.steam2 {
  display: none;
}

@keyframes steam_Move {
  0% {
    filter: blur(10px);
    transform: rotateY(0deg);
    transform: scale(1, 1);
    opacity: 0.75;
    top: 340px;
  }
  33% {
    transform: rotateY(40deg);
    transform: scale(0.6, 1.2);
  }
  66% {
    transform: rotateY(2deg);
    transform: scaleY(1.2, 0.4);
  }
  100% {
    filter: blur(16px);
    transform: rotateY(50deg);
    transform: scaleY(1.4, 1.2);
    opacity: 0;
    top: -600px;
  }
}
@-webkit-keyframes steam_Move {
  0% {
    -webkit-filter: blur(10px);
    -webkit-transform: rotateY(0deg);
    -webkit-transform: scale(1, 1);
    opacity: 0.75;
    top: 340px;
  }
  33% {
    -webkit-transform: rotateY(40deg);
    -webkit-transform: scale(0.8, 1.2);
  }
  66% {
    -webkit-transform: rotateY(2deg);
    -webkit-transform: scaleY(1.2, 0.6);
  }
  100% {
    -webkit-filter: blur(16px);
    -webkit-transform: rotateY(50deg);
    -webkit-transform: scaleY(1.4, 1.2);
    top: -600px;
    opacity: 0;
  }
}
.wave-top {
  flex: 0 0 100%;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  position: relative;
  text-transform: uppercase;
  z-index: 3;
  padding-top: 83%;
}

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
.l-hero {
  overflow: hidden;
  position: relative;
}
.l-hero .l-hero-wrapper {
  width: 1300%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  will-change: auto;
}
.l-hero .l-hero-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.l-hero .l-hero-panel-01 {
  background-color: rgb(20, 17, 61);
}
.l-hero .l-hero-panel-02 {
  background-image: url(./media/images/day1.jpg);
}
.l-hero .l-hero-panel-03 {
  background-image: url(./media/images/day1.jpg);
}
.l-hero .l-hero-panel-05 {
  background-image: url(./media/images/day2.jpg);
}
.l-hero .l-hero-panel-06 {
  background-image: url(./media/images/day2.jpg);
}
.l-hero .l-hero-panel-07 {
  background-image: url(./media/images/day2.jpg);
}
.l-hero .l-hero-panel-08 {
  background-image: url(./media/images/day2.jpg);
}
.l-hero .l-hero-panel-09 {
  background-image: url(./media/images/day2.jpg);
}
.l-hero .l-hero-panel-10 {
  background-image: url(./media/images/day3.jpg);
}
.l-hero .l-hero-panel-11 {
  background-image: url(./media/images/day3.jpg);
}
.l-hero .l-hero-panel-12 {
  background-image: url(./media/images/day3.jpg);
}
.l-hero .l-hero-panel-13 {
  background-image: url(./media/images/day3.jpg);
}
.l-hero .l-hero-panel-14 {
  background-image: url(./media/images/day3.jpg);
}
.l-hero .l-hero-panel-15 {
  background-color: #000;
}
.l-hero .l-hero-panel::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
}
.l-hero .l-hero-panel__contents {
  flex: 0 0 100%;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  position: relative;
  text-transform: uppercase;
  z-index: 3;
  padding-top: 15%;
  background-color: rgba(0, 0, 0, 0.374);
  height: 100%;
}
.l-hero .l-hero-panel__contents_day {
  flex: 0 0 100%;
  text-align: left;
  font-weight: 700;
  color: #fff;
  font-size: 100px;
  position: relative;
  text-transform: uppercase;
  z-index: 3;
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
}
.l-hero .text {
  flex: 0 0 100%;
  text-align: left;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  z-index: 3;
}
.l-hero .text_detail {
  flex: 0 0 100%;
  text-align: left;
  font-weight: 600;
  color: #fff;
  font-size: 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 3;
}
.l-hero .time {
  border-right: 5px solid #fff;
  padding: 2px 8px;
}
.l-hero .time_transparent {
  opacity: 0;
}
@media all and (min-width: 1280px) {
  .l-hero .l-hero-panel__contents {
    font-size: 36px;
  }
}/*# sourceMappingURL=style.css.map */